modules = ["nodejs-20", "web", "postgresql-16", "python-3.11", "python3"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = [
  "cairo",
  "ffmpeg-full",
  "freetype",
  "geos",
  "ghostscript",
  "glibcLocales",
  "gobject-introspection",
  "gtk3",
  "lcms2",
  "libimagequant",
  "libjpeg",
  "libtiff",
  "libwebp",
  "libxcrypt",
  "openjpeg",
  "pkg-config",
  "qhull",
  "tcl",
  "tk",
  "zlib",
]

[packager]
ignoredPaths = [
  ".git",
  ".cache",
  ".pythonlibs",
  "node_modules",
  "cases",
  "inductiva_output",
  "simulations",
  "worker_logs",
  "production_logs",
  "attached_assets",
  "src",
  "client/src",
]

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["bash", "start-production.sh"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44631
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
